[Unit]
Description=weather lookups
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/weather.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
