[Unit]
Description=wifi hotspot service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/wifi.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
